.main{
  height: auto;
  padding-top: 6rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: 'Inter';

  &__s1{
    @include section;

    &-title{
      @include title;
    }

    &-paragraph{
      line-height: 1.75;
      word-spacing: 0.75;
      font-weight: 300;
    }
  }

  &__s2{
    @include section;

    &-title{
      @include title;
    }

    &-ol{

      margin-left: 4rem;
      
      &-li{
        margin-bottom: 2rem;
      }
    }
  }


}


.cssElement{
  background-color: #ccc;
}