.BG{
  background: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -3;
}

.grid{
  position: fixed;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(var(--row-number), 1fr);
  
  &__element{
    width: var(--grid-width);
    height: var(--grid-height);
    animation: trail 1s ease-in-out;

    &:hover{
      cursor: pointer;
      box-shadow: 1px 1px 8px 3px $g-light;
      transition: box-shadow 0.2s;
      animation: pop 0.1s ease-in-out;
      z-index: 99;
      border-radius: 10px;
    }
  }
}



@media screen and (max-width: 1000px){
  .grid{
    grid-template-columns: repeat(10, 1fr);
  }
}


@media screen and (max-width: 500px){
  .grid{
    grid-template-columns: repeat(5, 1fr);
  }
}