.screen{
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: $g-base;
  z-index: -1;
}

.grid{
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(var(--row-number), 1fr);
  
  &__element{
    border: 1px solid #000;
    border-right: 0;
    border-bottom: 0;
    width: var(--grid-width);
    height: var(--grid-height);
    animation: trail 1s ease-in-out;

    &:hover{
      cursor: pointer;
      box-shadow: 5px 5px 4px 3px $g-dark;
      transition: box-shadow 0.2s;
      animation: pop 0.2s ease-in-out;
      
    }
  }
}

