@keyframes pop {
  from {
    box-shadow: none;
  }

  to {
    box-shadow: 1px 1px 8px 3px $g-light;
    border-radius: 10px;
  }
}

@keyframes trail {
  from {
    box-shadow: 2px 1px 8px 3px $g-light;
    // transform: scale(1);
    border-radius: 10px;
  }
  to {
    box-shadow: none;
    // transform: scale(0.5);
    border-radius: 10px;
    
  }
}

@keyframes heartbeat{
  0%{
    transform: scale(1);
  }

  70%{
    transform: scale(1.25);
  }

  80%{
    transform: scale(1.1);
  }

  90%{
    transform: scale(1.25);
  }

  100%{
    transform: scale(1);
  }
}