@keyframes pop {
  from {
    box-shadow: none;
  }

  to {
    box-shadow: 1px 1px 8px 3px $g-light;
    border-radius: 10px;
  }
}

@keyframes trail {
  from {
    box-shadow: 1px 1px 8px 3px $g-light;
    transform: scale(1);
    border-radius: 10px;
  }
  to {
    box-shadow: none;
    transform: scale(0.5);
    border-radius: 50%
  }
}
